#settings-sections .autoreply a {
    background-image: url(images/vacation_icons.png?v=1);
    background-repeat: no-repeat;
    background-position: 7px 1px;
}

#settings-sections .autoreply.selected a {
    background-position: 7px -23px;
}